@model MusicStoreWeb.Models.ViewModels.ProductViewModel;
@{
    ViewData["Title"] = Model?.Product?.Id !=0?"Update":"Create"+ " Product";
}

<div style="width:100%;display:flex; justify-content:center">
    <form style="width:100%; margin:3% 5%; max-width:500px" enctype="multipart/form-data" asp-action="Upsert" method="post">
        <div class="row">
            <div class="col-10">
                <div class="border p-3 mt-4 rounded-2">
            <div class=" col-12 row pb-2" >
                <h2 class="text-primary">@(Model?.Product?.Id != 0?"Update":"Create") Product</h2>
                <hr/>
            </div>
            @*<div asp-validation-summary="All" class="text-danger" ></div>*@
            <div class="form-group mb-2">
                <label class="text-white" style="font-size:1.5rem;display:block;" asp-for="Product!.Title"></label>
                <input style="width:100%" asp-for="Product!.Title" />
                <span asp-validation-for="Product!.Title" class="text-danger" ></span>
            </div>
            <div class="form-group mb-2">
                <label class="text-white" style="font-size:1.5rem;display:block;" asp-for="Product!.MediaType"></label>
                <input style="width:100%" asp-for="Product!.MediaType" />
                <span asp-validation-for="Product!.MediaType" class="text-danger" ></span>
            </div>
            @*<div class="form-group mb-2">
                <label class="text-white" style="font-size:1.5rem;display:block;" asp-for="BandId"></label>
                <input style="width:100%" asp-for="BandId" />
                <span asp-validation-for="BandId" class="text-danger" ></span>
            </div>*@
            <input hidden asp-for="Product.Id" />
            <input hidden asp-for="Product.ImageUrl" />
            <div class="form-group mb-2">
                <label class="text-white" style="font-size:1.5rem;display:block;" asp-for="Product!.Label"></label>
                <input style="width:100%" asp-for="Product!.Label" />
                <span asp-validation-for="Product!.Label" class="text-danger" ></span>
            </div>
            <div class="form-group mb-2">
                <label class="text-white" style="font-size:1.5rem;display:block;" asp-for="Product!.Length"></label>
                <input style="width:100%" asp-for="Product!.Length" />
                <span asp-validation-for="Product!.Length" class="text-danger" ></span>
            </div>
            <div class="form-group mb-2">
                <label class="text-white" style="font-size:1.5rem;display:block;" asp-for="Product!.NumberOfTracks"></label>
                <input style="width:100%" asp-for="Product!.NumberOfTracks" />
                <span asp-validation-for="Product!.NumberOfTracks" class="text-danger" ></span>
            </div>
            <div class="form-group mb-2">
                <label class="text-white" style="font-size:1.5rem;display:block;" asp-for="Product!.Description"></label>
                <textarea style="width:100%" rows="3" asp-for="Product!.Description" ></textarea>
                <span asp-validation-for="Product!.Description" class="text-danger" ></span>
            </div>
            <div class="form-group mb-2">
                <label class="text-white" style="font-size:1.5rem;display:block;" asp-for="Product!.Price"></label>
                <input style="width:100%" asp-for="Product!.Price" />
                <span asp-validation-for="Product!.Price" class="text-danger" ></span>
            </div>
            <div class="form-group mb-2">
                <label class="text-white" style="font-size:1.5rem;display:block;" asp-for="Product!.Released"></label>
                <input style="width:100%" asp-for="Product!.Released" />
                <span asp-validation-for="Product!.Released" class="text-danger" ></span>
            </div>
            <div class="form-group mb-2">
                <label class="text-white" style="font-size:1.5rem;display:block;" asp-for="Product!.Tracks"></label>
                <textarea style="width:100%" rows="10" asp-for="Product!.Tracks" ></textarea>
                <span asp-validation-for="Product!.Tracks" class="text-danger" ></span>
            </div>
            <div class="form-group mb-2">
                <label class="text-white" style="font-size:1.5rem;display:block;" asp-for="Product!.Members"></label>
                <textarea style="width:100%" rows="10" asp-for="Product!.Members" ></textarea>
                <span asp-validation-for="Product!.Members" class="text-danger" ></span>
            </div>
            <div class="form-group mb-2">
                <label class="text-white" style="font-size:1.5rem;display:block;" asp-for="Product.ImageUrl"></label>
                <input type="file" id="uploadBox" name="file" class="bg-white form-control" style="width:100%" asp-for="Product.ImageUrl" />
            </div>
            <div class="form-group mb-2">
                <label class="text-white" style="font-size:1.5rem;display:block;" asp-for="Product!.CategoryId"></label>
                <select class="form-select" style="width:100%" asp-for="Product!.CategoryId" 
                    asp-items="@Model?.CategoryList" > 
                    <option disabled selected >--- Select Category ---</option>
                </select>
                <span asp-validation-for="Product!.CategoryId" class="text-danger" ></span>
            </div>
                        <div class="form-group mb-2">
                <label class="text-white" style="font-size:1.5rem;display:block;" asp-for="Product!.CoverTypeId"></label>
                <select class="form-select" style="width:100%" asp-for="Product!.CoverTypeId" asp-items="@Model?.CoverTypeList" > 
                    <option disabled selected >--- Select Cover Type ---</option>
                </select>
                <span asp-validation-for="Product!.CoverTypeId" class="text-danger" ></span>
            </div>
            @if (Model?.Product?.Id != 0)
            {
                <button type="submit" class="btn btn-primary" style="width:150px; margin-right:5px">Update</button>
            }else{
                <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px; margin-right:5px">Create</button>
            }
            <a asp-controller="Product" asp-action="Index" 
                class="btn btn-danger" style="width:150px" >
                Cancel
            </a>
        </div>
            </div>
            <div class="col-2" style=" padding-top:30px">
                <img src="@Model?.Product?.ImageUrl"
                    style="border-radius:5px; border:1px solid white;">
            </div>
        </div>
        
    </form>
    @section Scripts {
        @{
            <partial name="_ValidationScriptsPartial" />
        }
        <script>
            function ValidateInput(){
                if(document.getElementById("uploadBox").value===""){
                    alert("You must select an Image File");
                    return false;
                } else{
                    return true;
                }
            }
        </script>
    }
</div>
